body {
  background-color: rgb(233, 170, 53);
}

section {
  margin: 1rem 0.5rem 0.5rem 0rem;
}

#show, #hide {
  display: inline-block;
  padding: 0.25rem;
  border: aqua double 0.25rem;
  margin: 0.25rem;
  background-color: white;
}

p.feedback {
  display: block;
  min-height: 2.57rem;
  padding: 0.25rem;
  margin: 0;
  border: none;
  color: tomato;
  font-size: 1.25; font-weight: bold;
}

li {
  text-align: start;
}

.input-text {
  text-align: center;
}

#newCategory, #newQuestion, #newAnswer {
  display: inline-block;
  margin: 0.25rem;
}

#answer {
  font-size: 1.5rem;
  color: green;
  margin: 1rem 0.5rem 0.5rem 1rem;
}

#question {
  font-size: 1.25rem;
  color: blue;
  margin: 1rem 0.5rem 0.5rem 1rem;
}

.button {
  margin: 1rem;
  font-weight: bold;
}

/* define drid areas */
.header {
  grid-area: header;
}

.create-category {
  grid-area: create-category;
}

.cards {
  grid-area: cards;
}

.list {
  grid-area: list;
}

.create-card {
  grid-area: create-card;
}

.choose-category {
  grid-area: choose-category;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  /* set the height to fit the page
  A value of 1vh is equal to 1% of the viewport height */
  height: 97vh;
  min-height: 38rem;
  min-width: 55rem;
  margin: 0.5rem;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 10% 40% 45% 5%;
  gap: 0.3rem;
  grid-template-areas:
    "header header list"
    "create-category cards list"
    "create-card choose-category list"
    "footer footer list";
}

.grid-container > div {
  border: 0.25rem solid black;
  text-align: center;
  background-color: rgb(255, 240, 212);
}