body {
  background-color: rgb(233, 170, 53);
  color: rgb(136, 12, 12);
}

section {
  margin: 1rem 0.5rem 0.5rem 0rem;
}

#show, #hide {
  display: inline-block;
  padding: 0.25rem;
  border: aqua double 0.25rem;
  border-radius: 1rem;
  margin: 0.25rem;
  background-color: rgb(219, 233, 243);
  color: rgb(136, 12, 12);
}

#show:hover, #hide:hover {
  background-color: burlywood;
}

p.feedback {
  display: block;
  min-height: 2.57rem;
  padding: 0.25rem;
  margin: 0;
  border: none;
  color: rgb(136, 12, 12);
  font-size: 1.25; font-weight: bold;
}

li {
  text-align: start;
}

.input-text {
  text-align: center;
}

#newCategory, #newQuestion, #newAnswer {
  display: inline-block;
  margin: 0.25rem;
}

#answer {
  font-size: 1.5rem;
  color: rgb(173, 228, 191);
  margin: 1rem 0.5rem 0.5rem 1rem;
}

#question {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 166, 0);
  margin: 1rem 0.5rem 0.5rem 1rem;
}

.button {
  margin: 1rem;
  font-weight: bold;
  color: rgb(131, 37, 37);
  border-color: brown;
  border-radius: 0.5rem;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: burlywood;
}

/* define drid areas */
.header {
  grid-area: header;
}

.header, .footer {
  background-image: url(./imgages/header-footer.jpg);
  color: whitesmoke;
}

.create-category {
  grid-area: create-category;
  background-image: url(./imgages/question-mark-transparent-background.png);
  background-size: cover;
  background-position: right;
  color: rgb(136, 12, 12);
}

.cards {
  grid-area: cards;
  background-image: url(./imgages/card-question.jpg);
  background-size: cover;
  background-position: top;
}

.list {
  grid-area: list;
  background-image: url(./imgages/question-mark-transparent-background.png);
  background-size: 100rem;
  background-position-y: top;
  color: rgb(250, 244, 167);
  background-color: rgb(211, 133, 32) !important;
}

#questions {
  margin: auto;
  margin-bottom: 2rem;
  width: 75%;
  text-align: center;
}

.create-card {
  grid-area: create-card;
  background-image: url(./imgages/create-card.jpg);
  background-size: cover;
  background-position: right;
  color: rgb(136, 12, 12);
}

.choose-category {
  grid-area: choose-category;
  background-image: url(./imgages/choose-category.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
}

.footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  /* set the height to fit the page
  A value of 1vh is equal to 1% of the viewport height */
  height: 98vh;
  min-height: 38rem;
  min-width: 55rem;
  /* do not have to be 100% */
  grid-template-columns: 25% 50% 22%;
  grid-template-rows: 12% 30% 40% 8%;
  gap: 1.5rem;
  grid-template-areas:
    "header header list"
    "create-category cards list"
    "create-card choose-category list"
    "footer footer list";
  margin: 1rem;
}

.grid-container > div {
  border: 0.25rem solid rgb(124, 86, 17);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.1rem 0.3rem 0.1rem rgb(70, 45, 0), 0.4rem 0.4rem 0.5rem 0.3rem rgb(109, 71, 0);
  text-align: center;
  background-color: rgb(255, 240, 212);
}

/* design for smaller screeen (iPad) */
@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    /* set the height to fit the page
    A value of 1vh is equal to 1% of the viewport height */
    height: 98vh;
    min-height: 38rem;
    min-width: 55rem;
    /* do not have to be 100% */
    grid-template-columns: 35% 60%;
    grid-template-rows: 10% 22% 28% 40% 6%;
    gap: 1.5rem;
    grid-template-areas:
      "header header"
      "create-category cards"
      "create-card choose-category"
      "list footer"
      "list footer";
    margin: 1rem;
  }

  .footer {
    /* background-image: url(./imgages/header-footer.jpg); */
    background-size: cover;
  }
}

/* design for smaller screeen (iPhone 7 plus) */
@media screen and (max-width: 414px) {
  .grid-container {
    display: grid;
    /* set the height to fit the page
    A value of 1vh is equal to 1% of the viewport height */
    height: 98vh;
    min-height: 38rem;
    min-width: 55rem;
    /* do not have to be 100% */
    grid-template-columns: 35% 60%;
    grid-template-rows: 14% 35% 45% 100% 10%;
    gap: 1.5rem;
    grid-template-areas:
      "header header"
      "create-category cards"
      "create-card choose-category"
      "list footer"
      "list footer";
    margin: 1rem;
  }

  .footer {
    /* background-image: url(./imgages/header-footer.jpg); */
    background-size: cover;
  }
}

/* design for smaller screeen (iPhone 7) */
@media screen and (max-width: 375px) {
  .grid-container {
    display: grid;
    /* set the height to fit the page
    A value of 1vh is equal to 1% of the viewport height */
    height: 98vh;
    min-height: 38rem;
    min-width: 55rem;
    /* do not have to be 100% */
    grid-template-columns: 35% 60%;
    grid-template-rows: 14% 35% 45% 122% 10%;
    gap: 1.5rem;
    grid-template-areas:
      "header header"
      "create-category cards"
      "create-card choose-category"
      "list footer"
      "list footer";
    margin: 1rem;
  }

  .footer {
    /* background-image: url(./imgages/header-footer.jpg); */
    background-size: cover;
  }
}

/* design for smaller screeen (iPhone 5 SE) */
@media screen and (max-width: 320px) {
  .grid-container {
    display: grid;
    /* set the height to fit the page
    A value of 1vh is equal to 1% of the viewport height */
    height: 98vh;
    min-height: 38rem;
    min-width: 55rem;
    /* do not have to be 100% */
    grid-template-columns: 35% 60%;
    grid-template-rows: 14% 35% 45% 130% 10%;
    gap: 1.5rem;
    grid-template-areas:
      "header header"
      "create-category cards"
      "create-card choose-category"
      "list footer"
      "list footer";
    margin: 1rem;
  }

  .footer {
    /* background-image: url(./imgages/header-footer.jpg); */
    background-size: cover;
  }
}

/* design for smaller screeen (iextra small) */
@media screen and (max-width: 320px) {
  .grid-container {
    display: grid;
    /* set the height to fit the page
    A value of 1vh is equal to 1% of the viewport height */
    height: 98vh;
    min-height: 38rem;
    min-width: 55rem;
    /* do not have to be 100% */
    grid-template-columns: 95%;
    grid-template-rows: 15% 40% 50% 35% 45% 100% 15%;
    gap: 1.5rem;
    grid-template-areas:
      "header"
      "cards"
      "choose-category"
      "create-category"
      "create-card"
      "list"
      "footer";
    margin: 1rem;
  }

  .footer {
    /* background-image: url(./imgages/header-footer.jpg); */
    background-size: cover;
  }

  #questions {
    width: 35%;
  }
}